body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #000000;
  color: #bfb1d5;
}

header {
text-align: center;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(207, 196, 210);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;

}

.row {
  border-top: 1px solid rgb(244, 213, 255);
}

.hour {
  background-color: #cfa1e4;
  color: #3d0a43;
  border-top: 1px dashed #6f0799;
}

.past {
  background-color: #7776d0;
  color: white;
}

.present {
  background-color: #ec7dd0;
  color: white;
}

.future {
  background-color: #d484e8;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #652a82;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#message {
  color: #d484e8;
  text-align: center;
  font-size: 20px;
}

.Invisible {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#message::after{
  content:"Local Storage";
color:rgb(107, 21, 227);
letter-spacing: 2px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
